body {
    padding-top: 56px;
}

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 48px 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.main {
    margin-left: 200px;
    padding: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
